<!--

  Generated template for the RegisterPage page.


  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Register Bin</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label stacked>No. of People in Your Household</ion-label>
        <ion-input type="number" pattern="[0-9*]" [(ngModel)]="this.binRegistration.noOfPeople"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Majority Food Preference</ion-label>
          <ion-select [(ngModel)]="this.binRegistration.foodPreference">
            <ion-option value="Vegetarian">Vegetarian</ion-option>
            <ion-option value="Vegan">Vegan</ion-option>
            <ion-option value="Pescatarian">Pescatarian</ion-option>
            <ion-option value="Anything">Anything goes!</ion-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          Wastebin Status <br/>
          <div *ngIf='!binMapped' class='statusTxt'>You have not scanned the QR code provided on the bin</div>
          <div *ngIf='binMapped' class='statusTxtOk'>Bin has been successfully added</div>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 align='center'>
        <button class='buttons' id='scanButton' ion-button  outline (click)='scanCode()'>Scan Code</button>
      </ion-col>
      <ion-col col-6 align='center'>
        <button ion-button id='bin_reg_button' (click)='registerBin()' outline>Register Bin</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
