page-login {


.login-buttons{
	
	width:90%;
	text-align:left;
	
}

.login-logo{
	
	text-align:left;
}

.container{
	
	text-align:center;
	margin-top:20%;
}

.card{
	margin-top:10%;
}

.content-header{

	text-align: center;
	font-size: 20px;
}


}
