<!--
  Generated template for the MonitorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Monitor</ion-title>
  </ion-navbar>

 
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="hideMonitor">

    <ion-row>
      <ion-col align='center' col-12>
        <img id='noDataImg' src= 'assets/icon/no-data.svg' >
        <br/>
        <h5 id='noDataTxt'>Sorry! You have not connected a waste monitor </h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align='center' col-12>
        <button ion-button class='buttonConnect' id='connect_button' (click)='connectBin()' outline>Connect to Waste Monitor</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
	 

    <ion-row *ngIf="showMonitor">
      <ion-col  col-12>
              <ion-card>
               <img src="{{this.messageImg}}"/>
               <div class="card-title"> Message of the Day</div>
               <div class="card-subtitle">{{this.displayMessage}}</div>
             </ion-card>
      </ion-col>
 </ion-row>

 

      <ion-row *ngIf="showMonitor">

      
          <ion-col align='left' col-6>
              <p>Bin Stats</p>
              <!--i class="bin fa fa-trash-o fa-5x task-{{task}}"></i-->
              <div class="bowl">
                  <div class="inner">
                    <div [ngClass]="fillClass">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape" d="M300,300V2.5c0,0-0.6-0.1-1.1-0.1c0,0-25.5-2.3-40.5-2.4c-15,0-40.6,2.4-40.6,2.4
                  c-12.3,1.1-30.3,1.8-31.9,1.9c-2-0.1-19.7-0.8-32-1.9c0,0-25.8-2.3-40.8-2.4c-15,0-40.8,2.4-40.8,2.4c-12.3,1.1-30.4,1.8-32,1.9
                  c-2-0.1-20-0.8-32.2-1.9c0,0-3.1-0.3-8.1-0.7V300H300z" />
                      </svg>
                    </div>
                  </div>
                </div>
          </ion-col>
          <ion-col align='center' col-6>
               <p class='smallLabel' >Current Weight </p>
               <div class='largeLabel' align='center'>{{this.currentWeight}}<font color='green'>g</font></div><br>

               <p class='smallLabel' >Current Level </p>
               <div class='largeLabel' align='center'>{{this.currentPercentage}}<font color='green'>%</font></div><br>

               <p class='smallLabel' >Bin Status </p>
               <div  *ngIf='this.lidStatus==0'> <ion-badge color='danger'>Open</ion-badge><br></div>
               <div  *ngIf='this.lidStatus==1'> <ion-badge color='primary'>Closed</ion-badge><br></div>


          </ion-col>
      </ion-row>

      <ion-row *ngIf="showMonitor">

        
        <ion-col align='center' col-3>
          <div class="circle" id='redCircle'><br/>750<font color='green'>g</font></div>
          <br/>Yearly Waste
        </ion-col>
      
        <ion-col align='center' col-1></ion-col>
      
        <ion-col align='center' col-3>
            <div class="circle" id='yellowCircle'><br/>200<font color='green'>g</font></div>
            <br/>Monthly Waste
          </ion-col>
      
          <ion-col align='center' col-1></ion-col>
      
          <ion-col align='center' col-4>
              <div class="circle" id='greenCircle'><br/>75<font color='green'>g</font></div>
              <br/>Weekly Waste
            </ion-col>
          
      </ion-row>


     <ion-row>
       <ion-col align='center' col-12>
         <canvas #lineCanvas></canvas>
       </ion-col>
     </ion-row>

     <ion-row *ngIf="showMonitor">
      <ion-col  col-12>
        <button ion-button class='buttonConnect' id='disconnect_button' (click)='disconnectBin()' color='danger'  outline>Disconnect Waste Monitor</button>
      </ion-col>
    </ion-row>

   </ion-grid>
</ion-content>
