page-chat {

    .chatImg{

        border-radius: 50%;
        height :40px;
        width :40px;
      
    }

    .chatUsername{
            font-size: 16px;
            font-style: bold;
    }

    .lastMessage{
        font-size: 10px;
    }
}
