<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col col-12 align='center'>
       <img  (click)="editProfileImage()" src= {{this.profile?.userPhotoURL}} class='profileImg'>
     </ion-col>
   </ion-row>

   <ion-row>
      <ion-col col-12 align='center'>
        {{this.profile?.firstName}}
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12 align='center'>
            {{this.profile?.email}}
        </ion-col>
      </ion-row>

 </ion-grid>
 <!--Displaying Profile Image Upload options if selected to Edit-->
<div *ngIf="!viewImage">
  <div style="display:flex; flex-direction:column;justify-content:center">
    
<!--Displaying Captured Image if an Image is Captured-->
    <img [src]="captureDataUrl"  *ngIf="captureDataUrl"/>

    <!--Showing Save Button when image has been Selected-->
<div *ngIf="captureDataUrl">   
    <ion-grid>
        <ion-row>

            <ion-col col-2 ></ion-col>
            
            <ion-col col-2 >
                <button  (click)="captureImage()" ion-button icon-only>
                     
                    <ion-icon name="camera"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-1 ></ion-col>

            <ion-col col-2 >
                <button     ion-button icon-only>
                    
                    <ion-icon name="md-cloud-upload"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-1 ></ion-col>

            <ion-col col-2 >
                <button  (click)="uploadImage()"   ion-button icon-only>
                    <ion-icon name="checkmark"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-2 ></ion-col>
        </ion-row>

    </ion-grid>
  </div>

<!--Only Capture button is displayed if Image has not been uploaded-->
   <div *ngIf="!captureDataUrl">

        <ion-grid>
                <ion-row>
                    <ion-col col-1 align='center'></ion-col>
                    <ion-col col-4 align='center'>
                            <button  (click)="captureImage()" ion-button icon-right>
                            Capture 
                            <ion-icon name="camera"></ion-icon>
                        </button>
                    </ion-col>

                    <ion-col col-2 align='center'></ion-col>

                    <ion-col col-4 align='center'>
                            <button    ion-button icon-right>
                                Upload
                                <ion-icon name="md-cloud-upload"></ion-icon>
                            </button>
                    </ion-col>


                    <ion-col col-1 align='center'></ion-col>
              </ion-row>
       </ion-grid>

     </div>

  </div>
</div>

 <br/>
<!--User Stats Sections-->
 <ion-grid>
    <ion-row>
      <ion-col col-4 align='center'>
        <h2>25</h2> Post's
      </ion-col>

      <ion-col col-4 align='center'>
          <h2>25</h2> Shared
        </ion-col>

        <ion-col col-4 align='center'>
            <h3>25</h3>Receipts
          </ion-col>
    </ion-row>

  </ion-grid>

  <br/>
 
  <ion-grid>
      <ion-row>
        <ion-col col-8 align='left'>
            <h1>ABOUT</h1>
        </ion-col>

        <ion-col col-4 align='right'>
         <!--Changing Displayed button for edit or view Options-->   
            <button ion-button icon-only clear (click)='editProfile()'>
                <ion-icon  *ngIf=view name="create" class='editIcon' ></ion-icon><!--if view displaying create Icon-->
                <ion-icon  *ngIf=!view name="checkmark" class='editIcon' ></ion-icon><!--if  not view displaying checkmark Icon-->
            </button>

        </ion-col>

      </ion-row>
  </ion-grid>

<br/>
<!--View option displays labels with imformation-->
  <ion-grid *ngIf=view>
      <ion-row>
        <ion-col col-3 align='left'>
            Name : 
        </ion-col>

        <ion-col col-9 align='left'>
         {{this.profile?.firstName}}
        </ion-col>

        
</ion-row>         
<ion-row>
         <ion-col col-3 align='left'>
            Email : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.email}}
        </ion-col>

         
</ion-row>
<ion-row>
         <ion-col col-3 align='left'>
            Bio : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.bio}}
        </ion-col>

        
</ion-row>

<ion-row>
        <ion-col col-3 align='left'>
            Website : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.website}}
        </ion-col>

        


</ion-row>
  </ion-grid>


<!--Edit option displays Inputs fields with imformation allowing edit-->
      <ion-list *ngIf=!view>
          
          


            <ion-item>
              <ion-label stacked>Name</ion-label>
              <ion-input type="text" [(ngModel)]="this.profile.firstName"></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" [(ngModel)]="this.profile.email"></ion-input>
           </ion-item>

              <ion-item>
                  <ion-label stacked>Bio</ion-label>
                  <ion-textarea type="text" [(ngModel)]="this.profile.bio"></ion-textarea>
             </ion-item>

             <ion-item>
                <ion-label stacked>Website</ion-label>
                <ion-input type="text" [(ngModel)]="this.profile.website"></ion-input>
              </ion-item>
          
          </ion-list>

</ion-content>


