page-profile {

}

.profileImg{

    border-radius: 50%;
    height :60px;
    width :60px;
    margin-top: -5px;
  
}

.postImg{
        height :250px;
        width :90%;
     }

.editIcon{
    
        margin-bottom: 18px;
    }
