<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col col-4 align='center'>
       <img  (click)="editProfileImage()" src= {{this.profile?.userPhotoURL}} class='profileImg'>
    </ion-col>

   
      <ion-col col-8 align='left'>
        {{this.profile?.firstName}}

        <br/>

        {{this.profile?.email}}
        </ion-col>
    </ion-row>

 </ion-grid>
 


<!--User Stats Sections-->
 <ion-grid>
    <ion-row>
        <ion-col col-3 align='center'>
         </ion-col>


      <ion-col col-3 align='center'>
        <h4>{{this.post?.length}}</h4> Post's
      </ion-col>

      <ion-col col-3 align='center'>
          <h4>25</h4> Shared
        </ion-col>

         <ion-col col-3 align='center'>
            <h4>25</h4>Receipts
          </ion-col>
    </ion-row>

  </ion-grid>

  <br/>
 

   <div padding>
      <ion-segment [(ngModel)]="profileDetails">
        <ion-segment-button value="post">
          Post's
        </ion-segment-button>
        <ion-segment-button value="about">
          About
        </ion-segment-button>
      </ion-segment>
    </div>

<div [ngSwitch]="profileDetails">

  <div *ngSwitchCase="'post'" >
    <ion-grid>
        <ion-row>
          <ion-col col-8 align='left'>
              <h1>POST</h1>
          </ion-col>
    </ion-row>
</ion-grid>



<ion-list>
    <ion-item  *ngFor='let item of post'>
      <ion-grid>
         <ion-row>
             <ion-col col-12><b><h2>{{item.subject}}</h2></b></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12> <img  src= '{{item.imageURL}}' class='postImg'></ion-col>
       </ion-row>

       <ion-row>
          <ion-col col-6 align='left'><ion-badge>Likes 1</ion-badge></ion-col>
          <ion-col col-6 align='right'><ion-badge>Comments 1</ion-badge></ion-col>
          
      </ion-row>

       <ion-row>
          <ion-col col-12>{{item.description}}</ion-col>
      </ion-row>


      </ion-grid>
    </ion-item>
  </ion-list>

</div>


<div *ngSwitchCase="'about'">
  <ion-grid >
      <ion-row>
        <ion-col col-8 align='left'>
            <h1>ABOUT</h1>
        </ion-col>

        <ion-col col-4 align='right'>
         <!--Changing Displayed button for edit or view Options-->   
            <button ion-button icon-only clear (click)='editProfile()'>
                <ion-icon  *ngIf=view name="create" class='editIcon' ></ion-icon><!--if view displaying create Icon-->
                <ion-icon  *ngIf=!view name="checkmark" class='editIcon' ></ion-icon><!--if  not view displaying checkmark Icon-->
            </button>

        </ion-col>

      </ion-row>
  </ion-grid>

<br/>
<!--View option displays labels with imformation-->
  <ion-grid *ngIf=view>
      <ion-row>
        <ion-col col-3 align='left'>
            Name : 
        </ion-col>

        <ion-col col-9 align='left'>
         {{this.profile?.firstName}}
        </ion-col>

        
</ion-row>         
<ion-row>
         <ion-col col-3 align='left'>
            Email : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.email}}
        </ion-col>

         
</ion-row>
<ion-row>
         <ion-col col-3 align='left'>
            Bio : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.bio}}
        </ion-col>

        
</ion-row>

<ion-row>
        <ion-col col-3 align='left'>
            Website : 
        </ion-col>

        <ion-col col-9 align='left'>
            {{this.profile?.website}}
        </ion-col>

        


</ion-row>


<ion-row>
    <ion-col col-3 align='left'>
        Phone No : 
    </ion-col>

    <ion-col col-9 align='left'>
        {{this.profile?.phoneNumber}}
    </ion-col>

    


</ion-row>
  </ion-grid>


<!--Edit option displays Inputs fields with imformation allowing edit-->
      <ion-list *ngIf=!view>
          
          


            <ion-item>
              <ion-label stacked>Name</ion-label>
              <ion-input type="text" [(ngModel)]="this.profile.firstName"></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" [(ngModel)]="this.profile.email"></ion-input>
           </ion-item>

              <ion-item>
                  <ion-label stacked>Bio</ion-label>
                  <ion-textarea type="text" [(ngModel)]="this.profile.bio"></ion-textarea>
             </ion-item>

             <ion-item>
                <ion-label stacked>Website</ion-label>
                <ion-input type="text" [(ngModel)]="this.profile.website"></ion-input>
              </ion-item>


              <ion-item>
                  <ion-label stacked>Phone No</ion-label>
                  <ion-input type="text" [(ngModel)]="this.profile.phoneNumber"></ion-input>
                </ion-item>
          
          </ion-list>
    </div> 
</div>
</ion-content>


