<!--
  Generated template for the ImageViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>Profile Picture</ion-title>
      </ion-navbar>
    
    </ion-header>

<ion-content>
<ion-grid>
    <ion-row>
         <ion-col col-1></ion-col>

         <ion-col col-10 align='center'>
            <div style="display:flex; flex-direction:column;justify-content:center">   
                <img [src]="imageUrl"  *ngIf="imageUrl"/>
            </div>
         </ion-col>

        <ion-col col-1></ion-col>

    </ion-row>
</ion-grid>  

<div *ngIf="uploadImage">
    <ion-grid>
        <ion-row>
            <ion-col col-1 align='center'></ion-col>


            <ion-col col-4 align='center'>
                <button   (click)='closePage()' ion-button icon-only clear>
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-2 align='center'></ion-col>



            <ion-col col-4 align='center'>
                    <button   (click)='saveImage()' ion-button icon-only clear>
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
            </ion-col>


            <ion-col col-1 align='center'></ion-col>
      </ion-row>
    </ion-grid>
</div>


</ion-content>
