<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar color='primary'>
                <ion-title >Notifications</ion-title>
         </ion-navbar>

</ion-header>


<ion-content>

      <ion-refresher (ionRefresh)="refresh($event)">
          <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="circle"
              refreshingText="Refreshing...">

          </ion-refresher-content>
        </ion-refresher>



     
      <ion-list >
          <ion-item  *ngFor='let item of notifyList; let catIndex = index'>
      <ion-grid>
              <ion-row >
                  
                  <ion-col col-4> <img class='circularPostImg'  src= '{{item.notificationImageUrl}}' align='center'></ion-col>
                  <ion-col col-8 >
                        <ion-grid>
                                 <ion-row>
                                 <ion-col col-12><h2>{{item.title}}</h2></ion-col>
                                 </ion-row>
                                 <ion-row>
                                   <ion-col col-10 class='messagetxt' text-wrap>
                                        {{item.message}}<br/>
                                       <div class='dateTxt' *ngIf='currentDate==item.date'>Today</div>
                                       <div class='dateTxt' *ngIf='currentDate!=item.date'> {{item.date}}</div>
                                   </ion-col>
                                   <ion-col col-2></ion-col>
                                </ion-row>
                        </ion-grid>
                  </ion-col>
                 
              </ion-row>
            </ion-grid>
          </ion-item>
      </ion-list>


      <ion-grid *ngIf='notifyList.length==0'>
            <ion-row>
                <ion-col align='center' col-12>
                <img id='noDataImg' src= 'assets/icon/no-data.svg' >
                <br/>
                <h5 id='noDataTxt'>Sorry! You do not have any notifications </h5>
            </ion-col>
            </ion-row>
    </ion-grid>
            
</ion-content>
