page-notification {

    .circularPostImg{

        border-radius: 50%;
         height :70px;
         width :70px;
    }     
 
 
    .messagetxt{
        font-size: 13px;
        
    }

    .dateTxt{
        font-size: 10px;
        font-style: italic
    }


}
