<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<!--
    <ion-segment class='segmentPost' [(ngModel)]="viewType">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map">
            <ion-icon name="pin"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    -->

     <ion-navbar color='primary'>

    <ion-title >Timeline</ion-title>

    <ion-buttons end >

        
        <button ion-button icon-only (click)="showNotifications()">
          <ion-badge  color="danger">{{this.undreadNotification||''}}</ion-badge>
          <ion-icon name="notifications"></ion-icon>
        </button>

        <button ion-button icon-only (click)="showChat()">
          <ion-badge  color="danger">{{this.undreadChat||''}}</ion-badge>
          <ion-icon name="chatboxes"></ion-icon>
        </button>

     </ion-buttons> 
  </ion-navbar>
</ion-header>





<ion-content class='postContent' padding hide-fab>
    
    
   <!--
      <div [ngSwitch]="viewType">

            <div [style.display]="viewType == 'map' ? 'block' : 'none'">
              <div #postmap id='postmap'></div>
            </div>

          <div *ngSwitchCase="'list'" >
          -->
          

          <ion-refresher (ionRefresh)="refresh($event)">
            <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circle"
                refreshingText="Refreshing...">

            </ion-refresher-content>
          </ion-refresher>
          
              <div class='sorryTxt'  *ngIf='filteredLessPost?.length==0'>
                   <ion-grid>
                     <ion-row *ngIf='this.nearPostMsg=="Scanning for nearby Post"'>
                        <ion-col col-8 align='right'> {{this.nearPostMsg}}</ion-col>
                        <ion-col col-4 align='left'><ion-img *ngIf='this.nearPostMsg=="Scanning for nearby Post"' class='loadingImg' width="80" height="80" src="assets/img/loader.gif"></ion-img></ion-col>
                     </ion-row>
                     

                     <ion-row *ngIf='this.nearPostMsg!="Scanning for nearby Post"'>
                      <ion-col col-12 align='center'> {{this.nearPostMsg}}</ion-col>
                    </ion-row>
                   
                  </ion-grid>   
             </div>
              <ion-list>

                  <ion-item  *ngFor='let item of filteredLessPost'>
                    <ion-grid>
                       <ion-row>
                           <ion-col col-12 class='postHeader'>{{item.subject}}</ion-col>
                      </ion-row>


                      <ion-row>
                          <ion-col col-12 align='center'> 
                             <ion-slides>
                                 <ion-slide *ngFor='let image of item.imageArray'>
                                     <img (click)='viewPost(item)'  src= '{{image.img}}' class='mainPostImg'>
                                 </ion-slide>
                             </ion-slides>
                         </ion-col>
                       </ion-row>
              
                     <ion-row>
                        <ion-col col-4 align='left'><ion-badge>Views  {{item?.views}}</ion-badge></ion-col>
                        <ion-col col-4 align='center' *ngIf='item?.distance'><ion-badge> {{item?.distance}} Km</ion-badge></ion-col>
                        <ion-col col-4 align='center' *ngIf='!item?.distance'><ion-badge></ion-badge></ion-col>
                        <ion-col col-4 align='right'><ion-badge>Shares {{item?.shares}}</ion-badge></ion-col>
                        
                    </ion-row>
              

                    <ion-row *ngIf=item.userProfile>
                        <ion-col col-3 align='left'>
                          <img   src= {{item.userProfile.userPhotoURL}} class='postProfileImg'>
                       </ion-col>
                   
                         <ion-col col-9 align='left' class='postProfileName'>
                           {{item.userProfile.firstName}}
                          </ion-col> 
                    </ion-row>     
              
                    

                    </ion-grid>
                  </ion-item>


                  <ion-item  *ngFor='let item of filteredGreaterPost'>
                      <ion-grid>
                         <ion-row>
                             <ion-col col-12 class='postHeader'>{{item.subject}}</ion-col>
                        </ion-row>
  
  
                        <ion-row>
                             <ion-col col-12 align='center'> 
                                <ion-slides>
                                    <ion-slide *ngFor='let image of item.imageArray'>
                                        <img (click)='viewPost(item)'  src= '{{image.img}}' class='mainPostImg'>
                                    </ion-slide>
                                </ion-slides>
                            </ion-col>
                          </ion-row>
                
                       <ion-row>
                          <ion-col col-4 align='left'><ion-badge>Views  {{item?.views}}</ion-badge></ion-col>
                          <ion-col col-4 align='center' *ngIf='item?.distance'><ion-badge> {{item?.distance}} Km</ion-badge></ion-col>
                          <ion-col col-4 align='center' *ngIf='!item?.distance'><ion-badge></ion-badge></ion-col>
                          <ion-col col-4 align='right'><ion-badge>Shares {{item?.shares}}</ion-badge></ion-col>
                          
                      </ion-row>
                
  
                      <ion-row *ngIf=item.userProfile>
                          <ion-col col-3 align='left'>
                            <img   src= {{item.userProfile.userPhotoURL}} class='postProfileImg'>
                         </ion-col>
                     
                           <ion-col col-9 align='left' class='postProfileName'>
                             {{item.userProfile.firstName}}
                            </ion-col> 
                      </ion-row>     
                
                      
  
                      </ion-grid>
                    </ion-item>


                </ion-list>

                  <ion-infinite-scroll (ionInfinite)="scrollDown($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                  </ion-infinite-scroll>

    <!--

          </div>

          

      </div>
     -->

     <ion-fab  center bottom >
      <button ion-fab  (click)='addPost()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>


</ion-content>
