page-post {

  
}

.segmentPost{

    background-color : #fff
}
.postContent{
  margin-top: 18px;
}

.mainPostImg{

    height: 250px;
    width:95%;
}

.postHeader{

    font-weight: bold;
    font-size: 30px;
}


.postProfileImg{
    
        height:40px;
        width:40px;
        border-radius: 50%
    }

.postProfileName{
        
            font-weight: bold;
            font-size: 15px;
            margin-top:10px;
        }
        