page-post {

  

.segmentPost{

    background-color : #fff
}
.postContent{
  margin-top: 18px;
}

.mainPostImg{

    height: 250px;
    width:95%;
}

.postHeader{

    font-weight: bold;
    font-size: 30px;
}


.postProfileImg{
    
        height:40px;
        width:40px;
        border-radius: 50%
    }

.postProfileName{
        
            font-weight: bold;
            font-size: 15px;
            margin-top:10px;
        }

    
        ion-fab{

            margin-bottom :75px;
        } 
        
        button {
            ion-badge {
                position: absolute;
                top: -0.2rem;
                right: -0.2rem;
                opacity: 0.9;
        
                & ~ ion-icon {
                    margin-right: 1.2rem;
                }
            }
        }
}
        