page-leaderboard {



    .circularPostImg{

        border-radius: 50%;
         height :30px;
         width :30px;
    }     
 
 
    .emailTxt{
        font-size: 10px;
        font-style: italic
    }

    .scoreTxt{
        font-size: 18px;
        font-style: bold;
        margin-top:5px;

    }

    .rankTxt{

        font-size: 15px;
        font-style: bold;
        border-radius: 50%;
        margin-top:5px;
        
    }

}
