page-add-post {

}

img{    
        height :60px;
        width :60px;
    }


    ion-select{
        max-width: 100% !important;
    }

    .black_shade{

        background-color: #F3EEED;
        border-radius: 5%;
       
    }

    .mapImage{
        height :250px;
        width :100%;
        }