page-view-post {

}

.viewPostImg{
    width:100%;
    height:250px;
    

    
}

.viewPostProImg{

    width:90px;
    height:90px;
    border-radius:50%;
    margin-top:-50px;
    background-color: #fff;
    padding: 4px;
    

}

.postMaImage{
    height :250px;
    width :100%;
    }