<!--
  Generated template for the ViewPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>{{this.post?.subject}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf='this.post.userProfile'>
    <ion-row>
      <ion-col col-12>
        <img  src= '{{this.post?.imageURL}}' class='viewPostImg'>
     </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 align='center'>
       <img   src= {{this.post?.userProfile?.userPhotoURL}} class='viewPostProImg'>
       </ion-col>
       <ion-col col-1></ion-col>
   </ion-row> 

   <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 align='center'>
       {{this.post?.userProfile?.firstName}} 
       </ion-col>
       <ion-col col-1></ion-col>
   </ion-row> 

   <ion-row>
      <ion-col col-1></ion-col>

      <ion-col col-5 align='right' (click)='showRating()'> 
          <ion-icon name="star" class='starIcon'></ion-icon>
      </ion-col>   

      <ion-col col-5 align='left' class='starRating' (click)='showRating()' *ngIf='this?.userRating>0'>    
          <b>&nbsp; {{this.userRating}} </b>
       </ion-col>

       <ion-col col-5 align='left' class='starRating'  *ngIf='this?.userRating==0'>    
          <b><ion-badge>Not rated</ion-badge></b>
       </ion-col>

       <ion-col col-1></ion-col>
   </ion-row> 
    


   
   <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 align='center' text-wrap>
       {{this.post?.description}} 
       </ion-col>
       <ion-col col-1></ion-col>
   </ion-row> 

   <ion-row>
      <ion-col col-5 align='left'><ion-badge>Avaliable for {{this.post.daysAvailable}} Days</ion-badge></ion-col>
      <ion-col col-3 align='left'>
          <ion-badge *ngIf='servesRemaning>0'>{{this.servesRemaning}} Servings</ion-badge>
          <ion-badge *ngIf='servesRemaning<=0' color='danger'>{{this.servesRemaning}} Servings</ion-badge>
        </ion-col>
      <ion-col col-2 align='left'><ion-badge>Type : {{this.post.postType}}</ion-badge></ion-col>
      <ion-col col-2 ></ion-col>
  </ion-row>


    <ion-row>
        <ion-col col-1></ion-col>

      <ion-col col-5 aling='center' *ngIf='this.post?.userId!=this.user?.uId'>
        <button id='dmButton' class='summaryButtons' (click)='directMessage()' ion-button icon-start>
            <ion-icon name="chatbubbles"></ion-icon>
            Chat
        </button>
      </ion-col>
    
      <ion-col col-5 *ngIf='this.post?.userId!=this.user?.uId' >
           
            <button id='scanButton' class='summaryButtons' (click)='scanCode()' ion-button icon-start>
                <ion-icon name="qr-scanner"></ion-icon>
                Scan code
            </button>
      </ion-col>

      <ion-col col-10 *ngIf='this.post?.userId==this.user?.uId' >
           
          <button id='scanButton' class='summaryButtons' (click)='showQr()' *ngIf='showQrCode==false' ion-button icon-start>
              <ion-icon name="arrow-down"></ion-icon>
              Show Code 
          </button>

          <button id='scanButton' class='summaryButtons' (click)='showQr()' *ngIf='showQrCode==true' ion-button icon-start>
              <ion-icon name="arrow-up"></ion-icon>
              Show Code 
          </button>
    </ion-col>
       
    <ion-col col-1></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12 *ngIf='this.post?.userId==this.user?.uId && servesRemaning>0 && showQrCode==true'>
          
    
             <ion-card *ngIf="this.qrImage">
                  <ion-card-header>
                    QR Code 
                  </ion-card-header>
              <ngx-qrcode [qrc-value]="this.qrImage"></ngx-qrcode>
            </ion-card>
      
       </ion-col> 
    </ion-row>


   <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-11 align='left' >
          <ion-label stacked>Pick up Time</ion-label>
          {{this.post?.pickUpTime}} 
      </ion-col> 
    </ion-row>


   <ion-row>
   <ion-col col-12 >
      <ion-card>
          <ion-card-header>
            Pick up Location
          </ion-card-header>
          <ion-card-content>
           <img *ngIf=locationImage class='postMapImage' src={{this.locationImage}}>
          </ion-card-content>
        </ion-card>
  </ion-col> 
  </ion-row>
 
 
   <!--div *ngIf='this.post?.userId!=this.user?.uId' >
        <ion-row>
          <ion-col col-12 >

          <div  *ngIf='servesRemaning>0'>
          <button *ngIf='!requestStatus' class='summaryButtons' id='requestButton' ion-button  outline (click)='requestPost()'>Request</button>
          <button *ngIf='requestStatus' class='summaryButtons' id='requestButton' ion-button  outline ion-button icon-right disabled>
              Request Sent
             <ion-icon name="checkmark"></ion-icon>
          </button>
          
        </div>
          <div *ngIf='servesRemaning<=0'>         
            <button *ngIf='requestStatus' class='summaryButtons' id='requestButton' ion-button  outline ion-button icon-right disabled>
              No Serving to request
          </button>
        </div>
          
         </ion-col>
        </ion-row> 

       
     </div-->
   

  </ion-grid>  

</ion-content>
